@model WebApplication1.Models.Korisnici

@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: montserrat;
            background: linear-gradient(120deg,#366a94,#be6ee0);
            height: 100vh;
        }

        .back-button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        input[type="submit"] {
            width: 120%;
            height: 50px;
            border: 1px solid;
            background: #2681d8;
            border-radius: 25px;
            font-size: 18px;
            color: white;
            font-weight: 700;
            cursor: pointer;
            outline: none;
        }
        input[type="submit"]:hover {
                border-color: #2681d8;
                transition: .5s;
        }
        .back-button:hover {
            background-color: #2980b9;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Napravi svoj profil za kupnju</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnickoIme" class="control-label"></label>
                <input asp-for="KorisnickoIme" class="form-control" />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id = "email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" class="form-control" />
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
            <div class="btn">
                <input type="submit" value="Kreiraj"  />
            </div>
        </form>
    </div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
